## Base de datos en Python

Recursos
sqlite3 https://docs.python.org/3/library/sqlite3.html

MySQL https://www.w3schools.com/python/python_mysql_getstarted.asp

PostgresSQL https://wiki.postgresql.org/wiki/Using_psycopg2_with_PostgreSQL

Oracle https://stackoverflow.com/questions/49030388/how-to-connect-to-oracle-12c-database-using-cx-oracle

SQL Server https://stackoverflow.com/questions/33725862/connecting-to-microsoft-sql-server-using-python

### Ejercicio 1

Conectarse a la base de datos sqlite que está en data/chinook.db y extraer todos los albums

In [ ]:
import sqlite3

conn = sqlite3.connect("data/chinook.db")

In [ ]:
conn

In [ ]:
cur = conn.cursor()

cur.execute("SELECT * FROM albums")

In [ ]:
rows = cur.fetchall()
rows

In [ ]:
conn.close()

### Ejercicio 2

Conectarse a la misma base de datos y extraer todos los clientes con pandas

In [ ]:
import pandas as pd

pd.read_sql("SELECT * FROM albums", conn)

In [ ]:
df2 = pd.read_sql("SELECT * FROM artists", conn)
df2

In [ ]:
df1 = pd.read_sql("SELECT * FROM albums", conn)
df2 = pd.read_sql("SELECT * FROM artists", conn)
df3 = df1.merge(df2, how="inner", on="ArtistId")
df3

### Ejercicio 3

Crear una base de datos con Pandas utilizando un dataframe

In [ ]:
!pip install sqlalchemy

In [ ]:
from sqlalchemy import create_engine

sql_engine = create_engine('sqlite:///data/test.db')
connection = sql_engine.raw_connection()

In [ ]:
df3.to_sql('artists_albums', connection, index=False)

In [ ]:
pd.read_sql("SELECT * FROM artists_albums", connection)

### Ejercicio 4

Comparar tiempos de ejecución entre consultas en SQL y pandas

In [ ]:
import timeit

code1 = """
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/chinook.db")
pd.read_sql("SELECT * FROM albums a JOIN artists ar ON  a.ArtistId = ar.ArtistId", conn)
"""
time1 = timeit.timeit(code1, number=2000)
print(time1)

In [ ]:
code2 = """
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/chinook.db")
df1 = pd.read_sql("SELECT * FROM albums", conn)
df2 = pd.read_sql("SELECT * FROM artists", conn)
df1.merge(df2, how="inner", on="ArtistId")
"""
time2 = timeit.timeit(code2, number=2000)
print(time2)

### Ejercicio 5

Realizar consultas en pandas con data extraída desde base de datos y comparar ejecución con realizar consulta SQL

In [ ]:
## Primer nombre de los empleados
## select firstname from employees

code1 = """
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/chinook.db")
employees = pd.read_sql("select firstname from employees", conn)
"""
time1 = timeit.timeit(code1, number=2000)
print(time1)

code2 = """
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/chinook.db")
employees = pd.read_sql("select * from employees", conn)

...

"""
time2 = timeit.timeit(code2, number=2000)
print(time2)

In [ ]:
## países únicos de los clientes
## select distinct country from customers

code1 = """
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/chinook.db")
countries = pd.read_sql("select distinct country from customers", conn)
"""
time1 = timeit.timeit(code1, number=2000)
print(time1)

code2 = """
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/chinook.db")
customers = pd.read_sql("select * from customers", conn)

...

"""
time2 = timeit.timeit(code2, number=2000)
print(time2)

In [ ]:
# ordenar clientes por pais de forma descendente y por ciudad de forma ascendente

code1 = """
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/chinook.db")
customers = pd.read_sql("select * from customers order by country desc, city asc", conn)
"""
time1 = timeit.timeit(code1, number=2000)
print(time1)

code2 = """
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/chinook.db")
customers = pd.read_sql("select * from customers", conn)

...
"""
time2 = timeit.timeit(code2, number=2000)
print(time2)

In [ ]:
## clientes de Chile o Buenos Aires

code1 = """
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/chinook.db")
customers = pd.read_sql("select * from customers where country = 'Chile' or city = 'Buenos Aires'", conn)
"""
time1 = timeit.timeit(code1, number=2000)
print(time1)

code2 = """
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/chinook.db")
customers = pd.read_sql("select * from customers", conn)

...

"""
time2 = timeit.timeit(code2, number=2000)
print(time2)

In [ ]:
## clientes que comiencen con A

code1 = """
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/chinook.db")
customers = pd.read_sql("select * from customers where firstname like 'A%' ", conn)
"""
time1 = timeit.timeit(code1, number=2000)
print(time1)

code2 = """
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/chinook.db")
customers = pd.read_sql("select * from customers", conn)

...

"""
time2 = timeit.timeit(code2, number=2000)
print(time2)

In [ ]:
## monto total, cantidad de invoices y promedio de montos por país 

code1 = """
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/chinook.db")
invoices = pd.read_sql("SELECT BillingCountry, sum(Total) monto, count(Total) cantidad, avg(Total) promedio FROM Invoices GROUP BY BillingCountry ORDER BY monto;", conn)
"""
time1 = timeit.timeit(code1, number=2000)
print(time1)

code2 = """
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/chinook.db")
invoices = pd.read_sql("SELECT *  FROM invoices", conn)

...

"""
time2 = timeit.timeit(code2, number=2000)
print(time2)